.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 60px;
  @media (max-width: 620px) {
    padding: 5px;
  }

  .logo {
    width: 250px;
    @media (max-width: 620px) {
      width: 182px;
    }
  }
  .login {
    text-decoration: none;
    font-size: 20px;
    display: flex;
    gap: 5px;
    align-items: center;
    @media (max-width: 620px) {
      font-size: 16px;
    }

    .fa {
      color: #541b8b;
    }

    span {
      color: black;
      font-weight: bold;
      padding: 5px;
    }
  }
}
